body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
  }
  
  header {
    background: lightpink;
    padding: 2rem;
  }
  
  main {
    background: rgb(101, 189, 211);
  }
  
  body {
    font-family: system-ui, sans-serif;
  }

  .title {
      font-size: 5vw;
  }

  img {
      width:30vw;
  }